In [71]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [46]:
data = pd.read_csv("clients_mcc.csv", sep="\t", names=['id', 'mcc'])

In [47]:
data.shape

(205267, 2)

In [48]:
data.head()

          id                                                mcc
0   10000004  4814,4814,4814,6010,4814,4814,6010,5411,4814,4...
1  100000337  5311,5621,6011,5814,5411,4814,5411,4814,5411,6...
2   10000077  6011,5999,5331,5331,4829,5541,6010,5541,5541,7...
3  100002147  4814,4829,4814,4829,4829,4829,5912,4814,5812,5...
4  100002933  4814,4829,4829,4829,4814,4829,4829,6011,4829,4...

In [59]:
vectorizer = CountVectorizer(min_df=1)

In [69]:
X = vectorizer.fit_transform(data['mcc'].values)

In [70]:
X.shape

(205267, 530)

In [ ]:
X